<!DOCTYPE html>
<html>
  <head>
    <title>It's Logtastic!</title>
    <link rel="stylesheet" href="/style/main.css" type="text/css">
    <script src="/script/json2.js"></script>
    <script src="/script/jquery.min.js"></script>
    <script src="/script/jquery-ui.min.js"></script>
    <script src="/script/jquery.cookie.js"></script>
    <script src="/script/logtastic.js"></script>
    <% yield_content :scripts_and_styles %>
  </head>
  <body>
    <div id="header">
      <h1>Logtastic</h1>
      <%= navbar @current_page %>
    </div>

    <div id="sidebar"></div>

    <div id="content">
      <%= yield %>
    </div>

    <div id="footer"></div>
  </body>
</html>
