<!DOCTYPE html>
<html>
  <head>
    <title>It's Logtastic!</title>
    <link rel="stylesheet" href="/style/main.css" type="text/css">
    <script src="/script/json2.js"></script>

    <script src="/script/jquery.min.js"></script>
    <script src="/script/jquery-ui.min.js"></script>

    <script src="/script/jquery.cookies.js"></script>
    <script src="/script/logtastic.js"></script>
    <script src="/script/log_count_poller.js"></script>
    <script src="/script/count_table.js"></script>
    <script type="text/javascript" charset="utf-8">
      //logtastic.ready(function() {
      //  var table = logtastic.countTable({table: '#summary'});
      //  table.setup();
      //});
    </script>
  </head>
  <body>
    <div id="header">
      <h1>Logtastic</h1>
      <%= navbar @title %>
    </div>

    <div id="sidebar"></div>

    <div id="content">
      <%= yield %>
    </div>

    <div id="footer"></div>
  </body>
</html>
