<%
  @current_page = 'Overview'
  content_for :scripts_and_styles do
%>
<script type="text/javascript" charset="utf-8">
  logtastic.ready(function(bundle) {
      console.log('bundle ', bundle.name);
      bundle.summaryData(function(data) {console.log('summary ', data)});
  });
</script>
<% end %>

<table id="summary" class="logtastic ui-corner-all">
  <thead></thead>
  <tfoot></tfoot>
  <tbody class="content">
  </tbody>
</table>
