/* add styles here */

@import url(reset.css);
@import url(typography.css);
@import url(jquery-ui-1.7.2.custom.css);

.ui-widget thead th { background: inherit; }
.ui-widget { line-height: 1.0em; }
.ui-datepicker { z-index: 42; margin-top: 2px; }

a {
  color: #469;
  text-decoration: none;
  font-weight: bold;
}

#header {
  display: block;
  height: 7.0em;
  width: 100%;
}
#header h1 {
  color: #fff;
  background-color: #333;
  padding: 0.5em 42px 0.3em 42px;
  margin: 0;
  font-size: 2em;
}
#header ul {
  list-style: none;
  margin: 0;
  padding: 0 42px;
  height: 1.5em;
  color: #fff;
  background-color: #161616;
  font-size: 1.2em;
  border-bottom: 3px solid #469;
}
#header ul li {
  float: left;
  margin: 0;
  margin-right: 1.0em;
  margin-left: -1.0em;
  padding: 0;
  height: 1.5em;
}
#header ul li.selected {
  background-color: #333;
  padding: 0 1.0em;
  -moz-border-radius-bottomleft: 7px;
  -moz-border-radius-bottomright: 7px;
  -webkit-border-bottom-left-radius: 7px;
  -webkit-border-bottom-right-radius: 7px;
}
#header ul li a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 0 1.0em;
  height: 1.5em;
  font-weight: normal;
  -moz-border-radius-topleft: 7px;
  -moz-border-radius-topright: 7px;
  -webkit-border-top-left-radius: 7px;
  -webkit-border-top-right-radius: 7px;
}
#header ul li a:hover { background-color: #469 }

#content {
  display: block;
  padding: 0 240px 0 42px;
}

#sidebar {
  position: absolute;
  right: 0;
  top: 7.0em;
  width: 188px;
  padding-right: 42px;
}

.ui-event-filter { margin-bottom: 1.0em }
.ui-event-filter .ui-event-filter-header {
  margin: 3px;
  padding: 0 0.9em;
  line-height: 1.8em;
  text-align: left;
  font-weight: bold;
}
.ui-event-filter ul {
  padding: 0;
  margin: 0;
  width: 100%;
  list-style: none outside none;
}
.ui-event-filter ul li {
  padding: 2px 1.0em;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer !important;
  border: none !important;
}
.ui-event-filter ul li span { float: left; margin-right: 0.3em; }

.ui-poll-interval { margin-bottom: 1.0em }
.ui-poll-interval div:first-child { margin-bottom: 0.5em }

table { width: auto }
h2.graph {
  clear: both;
  color: #469;
  text-shadow: #999 2px 1px 2px;
  margin: 0;
}
h2.graph + div {
  float: left;
  margin-bottom: 2.0em;
}
h2.graph + div + div {
  float: left;
  margin: 1.0em 0 0 2.0em;
}
h2.graph + div + div table tbody tr td {
  padding: 0.2em 0.4em;
}

table.logging {
  clear: both;
  border: 1px solid #ccc;
}
table.logging thead th {
  background: #eee;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
  text-shadow: #999 2px 1px 2px;
  text-transform: capitalize;
  white-space: nowrap;
}
table.logging tfoot td {
  background: #eee; color: #888;
  border-top: 1px solid #ccc;
  white-space: nowrap;
}


#summary { width: 45.0em }
#summary td.count,
#summary thead th.count { text-align: center; width: 5.0em }

#summary thead th.color4 { color: #a22 }
#summary thead th.color3 { color: #880 }
#summary thead th.color2 { color: #444 }
#summary thead th.color1 { color: #099 }
#summary thead th.color0 { color: #469 }

#summary td.color4 { background: #fdc;    border-color: #e88; color: #a22 }
#summary td.color3 { background: #ffb;    border-color: #eea; color: #880 }
#summary td.color2 { background: #fbfbfb; border-color: #ddd; color: #444 }
#summary td.color1 { background: #e7ffff; border-color: #cee; color: #099 }
#summary td.color0 { background: #e7eeff; border-color: #cde; color: #469 }


#events { width: 100%; min-width: 40.0em; table-layout: fixed }
#events tbody td { white-space: nowrap; overflow: hidden; }
#events thead th.timestamp { width: 8.0em; cursor: pointer }
#events thead th.app-id    { width: 8.0em }
#events thead th.logger    { width: 8.0em }
#events thead th.level     { width: 4.0em }
#events thead th:last-child,
#events tfoot td:last-child { text-align: right }

#events tr.color4 { background: #fdc;    border-color: #e88; color: #a22 }
#events tr.color3 { background: #ffb;    border-color: #eea; color: #880 }
#events tr.color2 { background: #fbfbfb; border-color: #ddd; color: #444 }
#events tr.color1 { background: #e7ffff; border-color: #cee; color: #099 }
#events tr.color0 { background: #e7eeff; border-color: #cde; color: #469 }


#inspector table { width: 100%; table-layout: fixed }
#inspector table thead th:first-child { width: 8.0em }
#inspector table tbody tr.even th,
#inspector table tbody tr.even td { background: #feffea }

#inspector code.color4 { color: #a22 }
#inspector code.color3 { color: #880 }
#inspector code.color2 { color: #444 }
#inspector code.color1 { color: #099 }
#inspector code.color0 { color: #469 }

code, tt, pre { font-family: "DejaVu Sans Mono",Monaco,monospace; }
code.label { color: #333; }
code.key { color: #333; font-weight: bold; }
code.string { color: #393; }
code.number, code.boolean { color: #339; }
code.null { color: #666; }

#inspector tbody td pre {
  color: #999;
  margin: 0; overflow: auto; white-space: pre-wrap; width: 100%;
}

#search td:first-child input {
  padding: 0.25em;
  padding-bottom: 0.4em;
  text-align: center;
  vertical-align: middle;
}

#notice {
  position: absolute;
  right: 42px;
  top: 5px; 
  z-index: 73;
}

#notice div {
  padding: 0 1em 0 0.7em;
}

#notice p {
  padding: 0; margin: 0.7em 0;
  line-height: 1.0em;
}
