/* add styles here */

@import url(reset.css);
@import url(typography.css);

#content {
  display: block;
  padding-right: 210px;
}

#sidebar {
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 210px;
}

#filter,
#filter ul {
  padding: 0;
  margin: 0;
  width: 100%;
  list-style: none outside none;
}
#filter li {
  padding: 0 1.0em;
}
#filter ul {
  border: 1px solid #ccc;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}
#filter ul li:first-child {
  -moz-border-radius-topleft: 7px;
  -moz-border-radius-topright: 7px;
  -webkit-border-top-left-radius: 7px;
  -webkit-border-top-right-radius: 7px;
}
#filter ul li:last-child {
  -moz-border-radius-bottomleft: 7px;
  -moz-border-radius-bottomright: 7px;
  -webkit-border-bottom-left-radius: 7px;
  -webkit-border-bottom-right-radius: 7px;
}
#filter ul li {
  background: #eee; color: #888;
  white-space: nowrap;
  padding: 0 1.5em;
  cursor: pointer;
}
#filter ul li.selected {
  color: #222;
  font-weight: bold;
  text-shadow: #999 2px 1px 2px;
}

table {
  clear: both;
  border: 1px solid #ccc;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}
table thead th {
  background: #eee;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
  text-shadow: #999 2px 1px 2px;
  text-transform: capitalize;
  white-space: nowrap;
}
table thead th:first-child {
  -moz-border-radius-topleft: 7px;
  -webkit-border-top-left-radius: 7px;
}
table thead th:last-child {
  -moz-border-radius-topright: 7px;
  -webkit-border-top-right-radius: 7px;
}
table tbody.footer td {
  background: #eee; color: #888;
  border-top: 1px solid #ccc;
}
table tbody.footer td:first-child {
  -moz-border-radius-bottomleft: 7px;
  -webkit-border-bottom-left-radius: 7px;
}
table tbody.footer td:last-child {
  -moz-border-radius-bottomright: 7px;
  -webkit-border-bottom-right-radius: 7px;
}
table tfoot td {
  background: #eee; color: #888;
  border-top: 1px solid #ccc;
  white-space: nowrap;
}
table tfoot td:first-child {
  -moz-border-radius-bottomleft: 7px;
  -webkit-border-bottom-left-radius: 7px;
}
table tfoot td:last-child {
  -moz-border-radius-bottomright: 7px;
  -webkit-border-bottom-right-radius: 7px;
}

#summary { width: 45.0em }
#summary td.count,
#summary thead th.count { text-align: center; width: 5.0em }

#summary thead th.color4 { color: #a22 }
#summary thead th.color3 { color: #880 }
#summary thead th.color2 { color: #444 }
#summary thead th.color1 { color: #099 }
#summary thead th.color0 { color: #469 }

#summary td.color4 { background: #fdc;    border-color: #e88; color: #a22 }
#summary td.color3 { background: #ffb;    border-color: #eea; color: #880 }
#summary td.color2 { background: #fbfbfb; border-color: #ddd; color: #444 }
#summary td.color1 { background: #e7ffff; border-color: #cee; color: #099 }
#summary td.color0 { background: #e7eeff; border-color: #cde; color: #469 }


#tail { width: 100%; min-width: 40.0em; table-layout: fixed }
#tail tbody td { white-space: nowrap; overflow: hidden; }
#tail thead th.timestamp { width: 8.0em; cursor: pointer }
#tail thead th.app-id    { width: 8.0em }
#tail thead th.logger    { width: 8.0em }
#tail thead th.level     { width: 4.0em }

#tail tr.color4 { background: #fdc;    border-color: #e88; color: #a22 }
#tail tr.color3 { background: #ffb;    border-color: #eea; color: #880 }
#tail tr.color2 { background: #fbfbfb; border-color: #ddd; color: #444 }
#tail tr.color1 { background: #e7ffff; border-color: #cee; color: #099 }
#tail tr.color0 { background: #e7eeff; border-color: #cde; color: #469 }

